.expenses {
  .no-expenses {
    background-color: #272626;
    font: inherit;
    font-size: 25px;
    color: aliceblue;
    font-weight: bold;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    padding: 1rem;
  }
}
